<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="">
<nav class="navbar navbar-expand-lg bg-dark bg-gradient" th:fragment="navbar(current)">
    <div class="container">
        <a class="navbar-brand text-white" href="#">SpringPhotos</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- nel link metto l'append active se l'area corrisponde a quel link -->
                <li class="nav-item d-flex">
                    <a class="nav-link text-light" th:href="@{/photos}"
                       th:classappend="${current == 'photos' ? 'active' : ''}">Foto</a>
                    <a class="nav-link text-light" th:href="@{/photos/create}"
                       th:classappend="${current == 'photos' ? 'active' : ''}">Aggiungi foto</a>
                    <a class="nav-link text-light" th:href="@{/categories}"
                       th:classappend="${current == 'categories' ? 'active' : ''}">Categorie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>